@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Hanken+Grotesk:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

html,
body {
  width: 100%;
  height: 100%;
}

.contain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(assets/img/banner.jpeg);
  height: 65vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}

.brand {
  display: flex;
}

.brand_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Expletus Sans", cursive;
  font-weight: 300;
}

.nav-items > ul {
  display: flex;
  margin: 10px;
  padding: 16px;
  list-style-type: none;
}

.nav-items > ul > li > a {
  padding: 0px 24px;
  text-decoration: none;
  color: white;
}

.login-btn {
  margin-left: 25px;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 8px;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.title {
  font-family: "countryside";
  font-size: 75px;
}

.title-desc {
  font-size: 32px;
  font-weight: 350;
}
.filter-container {
  display: flex;
  width: 100%;
  margin: 10px 215px;
}

.filter-btn {
  padding: 10px;
  border-radius: 10px;
  border: solid rgb(209, 209, 209);
  cursor: pointer;
  background-color: transparent;
}

.filter-btn:hover {
  background-color: #f2f2f2;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 200px;
  border-radius: 20px;
  /* justify-content: space-around; */
}

.res-card {
  width: 320px;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
}

.res-card:hover {
  border: #ededed;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.search {
  padding: 20px;
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.search-box {
  width: 35vw;
  height: 5vh;
  padding-left: 20px;
  border: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-btn {
  width: 4vw;
  height: 5vh;
  font-size: 25px;
  font-weight: 400;
  color: #2f2f2f;
  background-color: rgb(194, 194, 194);
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 20px 0px;
}

.res-logo {
  width: 100%;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 150px;
}

.shimmer-card {
  margin-top: 50px;
  margin: 10px;
  background-color: #f0f0f0;
  height: 300px;
  width: 200px;
}

.res-details {
  margin-bottom: 15px;
}

.name-rating {
  margin: 0px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.res-name {
  font-weight: 550;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.res-rating {
  border-radius: 8px;
  background-color: #267e3e;
  color: #f0f0f0;
  padding: 1px 8px;
  font-size: 14px;
  font-weight: 600;
}

.res-rating > i {
  padding-left: 4px;
  font-size: 13px;
}

.cuisine-cost {
  font-size: 14px;
  font-weight: 320;
  margin: 0px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cuisine {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.cf2 {
  overflow: hidden;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: black;
  text-align: right;
}

.area-time {
  font-size: 14px;
  font-weight: 320;
  margin: 0px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.time {
  color: black;
  font-size: 13px;
  font-weight: 500;
}
